
body {
	width:100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

svg {
	width: 100%;
}

a {text-decoration: none;}


.hidden {display:none;}

.background {
	width: 100%;
	height:100%;
	background-image: url("../images/background.svg");
	position: absolute;
	background-position: bottom 0 right 0;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.wrapper {
	width: 92%;
	max-width: 1400px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* =========Header=========*/

.mainHeader {
	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

#logo {
	align-items: center;
	width: 30%;
}

.rightHeader {
	width: 60%;
	height: 250px;
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content:space-between;

}

.title {
	text-align: right;
	width: 100%;
	margin-top: 20px;
}

#title img {
	width: 100%;
}

.mainNav {
	display: flex;
	flex-direction:row;
	justify-content: flex-end;
}

.mainNav .button {
	margin-left: 10px;
	background-color: #FF7BE3;
	color: white;
	padding: 20px;
}

.button {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	border-radius: 10px;
	transition: background .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.button:hover {
	background-color: #05FFA1 ;
	cursor: pointer;
	color:#211830;
	box-shadow: 3px 3px 3px rgba(0,0,0, .5);
}

/* =========Gallery=========*/

.divider {
	width: 100%;
	height: 34px;
	background-color: #22EAE0;
	opacity: 80%;
}

.info {
	font-family: 'Tahoma', Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0, .5);
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 0 -20px -20px;
}

.icon {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0 0 20px 20px;
	width: 200px;
	height: 200px;
	text-align: center;
	border-radius: 10px;
	display:flex;
	justify-content: center;
	align-items: center;
}


/* =========Colours=========*/


.colorPicker{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.color{
	height: 100px;
	width: 15%;
	text-align: center;
	line-height: 100px;
	border: solid 5px;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 3px 3px 3px rgba(0,0,0, .5);
	border-radius: 10px;
	transition: background .2s ease-in-out;
}

.color:hover {cursor: pointer;}


.pink {color: #FF71CE;}
.pink:hover {background-color: #FF71CE ;}


.blue{color: #22EAE0;}
.blue:hover {background-color: #22EAE0 ;}


.black{color: #211830;}
.black:hover {background-color: #211830 ;}


.yellow{color: #FFFB96;}
.yellow:hover {background-color: #FFFB96 ;}


.green{color: #05FFA1;}
.green:hover {background-color: #05FFA1 ;}


.purple{color: #9D0FFD;}
.purple:hover {	background-color: #9D0FFD;}


.wrapperDL {
	width: 92%;
	max-width: 1400px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: flex-end;
}

.download{
	background-color: #FF7BE3;
	color: white;
	width: 400px;
	height: 100px;
	line-height: 100px;
}


.mainFooter {
	margin: 35px 10px 8px 0;
	font-weight: bold;
	text-align: right;
	color:#FF71CE;
}
